<!doctype html>
<html lang="en">
  <head>
    <title>TCPD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.1.0/mdb.min.css" rel="stylesheet"/>
    <link href="/public/css/dashboard.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.1.0/mdb.min.js"></script>
    <script>let selectid = '' </script>
  </head>
  <body class="bg-dark"><br>
    <div class="container">
      <div class="row">
        <div class="card text-center">
          <img class="card-img-top" src="holder.js/100px180/" alt="">
          <div class="card-body">
            <h4 class="card-title"><%= user.login %>님의 위젯 세션은</h4>
            <p class="card-text"><a href="<%= setting.url %><%= user.session %>"><%= setting.url %><%= user.session %></a> 입니다.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <% reward.data.forEach((v, i) => { %>
          <div class="card m-3 text-center" style="width: 30.9%; background-color: <%= v.background_color %>;">
            <div class="card-body">
              <img class="card-img-top" style="width: 50px;" src="<%= v.default_image.url_1x ? v.default_image.url_1 : 'https://static-cdn.jtvnw.net/custom-reward-images/default-1.png' %>" alt="">
              <h4 class="card-title itemtitle"><%= v.title %></h4>
              <p class="card-text itemdesc"><%= v.prompt %><%= v.cost %>포인트로 구매 할수있습니다.</p>
              <a onclick="selectid = '<%= v.id %>'; document.getElementById('imguploadLabel').innerText = '\'<%= v.title %>\' 리워드를 선택했습니다.'; document.getElementById('imgsave').action = '/upload/img?id=<%= v.id %>'; document.getElementById('nowimg').src = ('/img/=<%= v.id %>').replace('=', '');" data-mdb-toggle="modal" data-mdb-target="#imgupload" class="btn btn-primary" role="button">후
              <p class="card-text itemdesc">포인트 ID : <%= v.id %></a>
            </div>
          </div>
        <% }) %>
      </div>  
    </div>

    <div class="modal fade" id="imgupload" tabindex="-1" aria-labelledby="imguploadLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="imguploadLabel"></h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <h4>현재 등록된 후원 이미지</h4>
            <img id='nowimg' src="" style="height:150px"><hr/>
            <h4>이미지 새로 등록하기</h4>
            <form action="/stats" id="imgsave" enctype="multipart/form-data" method="post">
              <div class="form-group">
                <input type="file" class="form-control-file" name="image">
                <input type="submit" value="사진 업로드" class="btn btn-default">            
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>